# remove encryption_key.php
application/config/encryption_key.php

# application log files.
application/logs/*
!application/logs/index.html

# application cache files.
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# all .htaccess should be kept.
!application/*/.htaccess

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
